# Node
node_modules/
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
*.env.local

# Mac
.DS_Store

# Build artifacts
coverage/
dist/

# Expo local state
.expo/
app-frontend/.expo/

# Android build artifacts
app-frontend/*.apk
app-frontend/*.apk.sha256
